table {
  border-collapse: collapse;
  width: 80em;
  margin: 1em auto;
  box-sizing: border-box;
  padding: 1em;
}

table th,
table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

table th {
  background-color: #fff;
}

table td span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}

.join-mission {
  background-color: transparent;
  border-color: rgb(48, 46, 46);
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
  width: 8rem;
  font-size: 15px;
  margin-left: 20px;
}

.leave-mission {
  border: 2px solid red;
  color: red;
  text-align: center;
}

.non_member {
  background-color: rgb(123, 122, 122);
  color: #fff;
  border: transparent;
  text-align: center;
  margin-left: 8px;
  border-radius: 7px;
  min-width: 2px;
}

.non_member.active {
  background-color: #008cac;
  text-decoration: none;
}

.missions-table col:nth-child(1) {
  width: 20%;
}

table tr:nth-child(odd) {
  background-color: #f3f3f3;
}
